<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password</title>
</head>
<body>

<div>
    <h3>LR1</h3>
    <form action="/generate" method="post">
        <input type="number" name="passwordLength" placeholder="length" id="passwordLength">
        <input type="number" name="numberCount" placeholder="numberCount">


        <button type="submit">Generate</button>
    </form>

    <input type="text" th:value="${password}"/>
</div>

<div>
    <h3>LR2</h3>
    <form action="/generate/lr2" method="post">
        <input type="text" name="str" placeholder="type text">
        <input type="text" name="keyStr" placeholder="type key">

        <button type="submit">Encryption</button>
    </form>

    <p th:text="${passwordEncryption}"/>
</div>
</body>
</html>