<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Test</title>


</head>
<body>

<div sec:authorize="hasAuthority('ADMIN')">
    <form method="post" action="/main" enctype="multipart/form-data">
        <input type="text" name="bookName" placeholder="Название книги">
        <input type="text" name="bookTag" placeholder="Название тэгa">
        <input type="number" name="bookPrice" placeholder="Цена">
        <input type="file" name="bookImg">
        <input type="file" name="bookFile">
        <button type="submit">Add</button>
    </form>
    <br>
</div>

<form method="post" action="/main">
    <input type="text" name="bookFilter" th:value="${bookFilter}">

    <button type="submit">Search</button>
</form>


<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Tag</th>
        <!--        <th>Price</th>-->

        <th>Img</th>
        <!--        <th>Download</th>-->
        <th>More</th>
    </tr>
    </thead>
    <tbody th:each="book : ${bookList}">
    <tr>
        <td th:text="${book.getId()}"></td>
        <td th:text="${book.getBookName()}"></td>
        <td th:text="${book.getTag()}"></td>
        <td th:if="${book.originalBookFileName() != null}">
            <img height="25" width="25" th:src="@{/img/{bookFileName}(bookFileName = ${book.img})}">
        </td>
        <td>
            <a th:href="@{/main/{id}(id = ${book.getId()})}">Read More</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>



