<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th th:align="center">Id</th>
        <th th:align="center">Name</th>
        <th>Email</th>
        <th>Active Account</th>
        <th th:align="center">Password</th>
        <th th:align="center">Balance</th>
        <th th:align="center">Role</th>
        <th th:align="center">Command</th>
    </tr>
    </thead>
    <tbody th:each="user : ${userList}">
    <tr>

        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getEmail()}" />
        <td th:text="${user.isActiveEmailAccount()}"/>
        <td th:text="${user.getPassword()}"/>
        <td th:text="${user.getBalance()}"/>
        <td th:each="role : ${user.getRoles()}" th:text="${role} "/>
        <td>
            <a th:href="@{/user/{userId}(userId = ${user.getId()})}">
                <center>Edit</center>
            </a>
            <a th:href="@{/user/delete/{userId}(userId = ${user.getId()})}">
                <center>Delete</center>
            </a>
        </td>

    </tr>
    </tbody>
</table>
<br><br>



</body>
</html>