<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="icon" href="/style/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/style/MainFileCss.css">
</head>
<body>
<!--<h3>Profile</h3>-->
<!--<h3 th:text="Profile + ' | ' + ${isEmailActive}"/>&lt;!&ndash;Profile | Account activated&ndash;&gt;
<div>
    <div th:each="active : ${userInfo.getActivity()}">
        <p th:text="${userInfo.getUsername()} + ' ' +  ${active.getText()}"/> &lt;!&ndash;admin buy the book "test2" for 10BalanceCoin on 18-11-2023 22:13&ndash;&gt;
    </div>
        <p th:text="Balance + ': ' + ${userInfo.getBalance()}"/> &lt;!&ndash;Balance: 70&ndash;&gt;
</div>-->
<div class="title"><p th:text="Profile + ' | ' + ${isEmailActive}"/></div>
<div class="action-list-container center pannel">
    <div class="action-item" th:each="active : ${userInfo.getActivity()}">
        <p th:text="${userInfo.getUsername()} + ' ' +  ${active.getText()}"/>
    </div>
    <div class="balance"><p th:text="Balance + ': ' + ${userInfo.getBalance()}"/> </div>
</div>

</body>
</html>