<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Edit Form</title>
</head>
<body>
<form action="/user" method="post">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="hidden" th:value="${user.getId()}" name="userId"></td>
            <td><label><input type="text" th:value="${user.getUsername()}" name="userName"/></label></td>
            <td th:each="role : ${roleList}">

                <label>
                    <input type="checkbox" th:name="${role}"
                           th:checked="${user.roles.contains(role)} ? 'checked' : null" th:value="${role}"/>
                    <span th:text="${role}"></span>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

    <button type="submit">Save</button>

</form>
    <!--<form action="/user" method="post">
        <input type="text" th:value="${user.username}" username="username" name="userName">
        <ul>
            <li th:each="role : ${roleList}">
                <label th:text="${role}">ROLE_USER</label>
                <input type="checkbox" th:name="${role}" th:checked="${#arrays.contains(user.roles, role)}">
            </li>
        </ul>
        <input type="hidden" th:value="${user.id}" username="userID" name="userId">

        <button type="submit">Сохранить</button>
    </form>-->
</body>
</html>
